<div class="container">
  <br><br>
  <div class="well">
    <form id="start" action="/start" method="post">
      <fieldset>
        <legend>Cloud Foundry Rails Console</legend>

        <label>Target</label>
        <input type="text" name="target" placeholder="vcap target..." value="api.cloudfoundry.com">

        <label>Username</label>
        <input type="text" name="username" placeholder="Username">

        <label>Password</label>
        <input type="password" name="password" placeholder="Password">

        <label>Application name</label>
        <input type="text" name="appname" placeholder="Application name">
        <br />
        <button type="submit" class="btn btn-success">Submit</button>
      </fieldset>
    </form>
  </div>
</div>